{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Add Quiz Result {% endblock %}</h1>
{% if session.get('logged_in') %}
{% endif %}
{% endblock %}

{% block content %}
  <form action="{{ url_for('add_results') }}" method=post>
    <select name="Quiz">
      {% for row in quizzes_1 %}
      <option value="{{row[1]}}">{{row[1]}}</option>
      {% endfor %}
    </select>

    <select name="Student">
      {% for row in students_1 %}
      <option value="{{row[1]}}">{{row[1]}}</option>
      {% endfor %}
    </select>

    <label for="grade">Grade</label>
    <input type="number" id="grade" name="grade" min="0" max="100"><br>
    <input type="submit" value="Submit">
    </form>
{% endblock %}
